Prac 3/BookStore/BookStore/Service References/BookPurchaseServiceReference/BookPurchaseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookPurchaseService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52460/BookPurchaseService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52460/BookPurchaseService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://localhost:52460/BookPurchaseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52460/BookPurchaseService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BookPurchaseResponse">
    <wsdl:part name="parameters" element="tns:BookPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="BookPurchaseResponse_Headers">
    <wsdl:part name="response" element="tns:response" />
    <wsdl:part name="result" element="tns:result" />
  </wsdl:message>
  <wsdl:message name="BookPurchaseInfo">
    <wsdl:part name="parameters" element="tns:BookPurchaseInfo" />
  </wsdl:message>
  <wsdl:message name="BookPurchaseInfo_Headers">
    <wsdl:part name="budget" element="tns:budget" />
    <wsdl:part name="items" element="tns:items" />
  </wsdl:message>
  <wsdl:message name="IBookPurchaseService_PurchaseBook_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="detail" element="q1:Exception" />
  </wsdl:message>
  <wsdl:message name="IBookPurchaseService_BookPurchaseInfo_InputMessage" />
  <wsdl:message name="IBookPurchaseService_BookPurchaseInfo_ExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/System" name="detail" element="q2:Exception" />
  </wsdl:message>
  <wsdl:portType name="IBookPurchaseService">
    <wsdl:operation name="PurchaseBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookPurchaseService/PurchaseBook" name="BookPurchaseResponse" message="tns:BookPurchaseResponse" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookPurchaseService/PurchaseBookResponse" name="BookPurchaseInfo" message="tns:BookPurchaseInfo" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookPurchaseService/PurchaseBookExceptionFault" name="ExceptionFault" message="tns:IBookPurchaseService_PurchaseBook_ExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="BookPurchaseInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookPurchaseService/BookPurchaseInfo" message="tns:IBookPurchaseService_BookPurchaseInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookPurchaseService/BookPurchaseInfoResponse" name="BookPurchaseInfo" message="tns:BookPurchaseInfo" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IBookPurchaseService/BookPurchaseInfoExceptionFault" name="ExceptionFault" message="tns:IBookPurchaseService_BookPurchaseInfo_ExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookPurchaseService" type="tns:IBookPurchaseService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PurchaseBook">
      <soap:operation soapAction="http://tempuri.org/IBookPurchaseService/PurchaseBook" style="document" />
      <wsdl:input name="BookPurchaseResponse">
        <soap:header message="tns:BookPurchaseResponse_Headers" part="response" use="literal" />
        <soap:header message="tns:BookPurchaseResponse_Headers" part="result" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BookPurchaseInfo">
        <soap:header message="tns:BookPurchaseInfo_Headers" part="budget" use="literal" />
        <soap:header message="tns:BookPurchaseInfo_Headers" part="items" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BookPurchaseInfo">
      <soap:operation soapAction="http://tempuri.org/IBookPurchaseService/BookPurchaseInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="BookPurchaseInfo">
        <soap:header message="tns:BookPurchaseInfo_Headers" part="budget" use="literal" />
        <soap:header message="tns:BookPurchaseInfo_Headers" part="items" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionFault">
        <soap:fault use="literal" name="ExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BookPurchaseService">
    <wsdl:port name="BasicHttpBinding_IBookPurchaseService" binding="tns:BasicHttpBinding_IBookPurchaseService">
      <soap:address location="http://localhost:52460/BookPurchaseService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>