Prac 3/BookStore/BookStore/Service References/BookStoreServiceReference/BookStoreService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookStore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookStore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookAuthor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookNum" type="xs:int" />
      <xs:element minOccurs="0" name="BookPrice" type="xs:float" />
      <xs:element minOccurs="0" name="BookStock" type="xs:int" />
      <xs:element minOccurs="0" name="BookYear" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
</xs:schema>